# Exclude the following folders
build/
install/
log/
/src/turtlebot3/
/src/localization_project/rosbags/
/src/localization_project/launch/ekf_node.launch.py
/src/lab05/stored_data/filter.npy
/src/lab05/stored_data/ground_truth.npy
/src/lab05/stored_data/odom.npy
